// .featured {
//     padding-top: 20px;
//     display: flex;
//     justify-content: space-evenly;
//     align-items: center;

//     h1 {
//         font-size: 40px;
//         color: red;
//     }

//     .featured-ppt-info {
//         font-size: 20px;
//         width: 400px;
//     }

//     .featured-ppt-card {
//         display: flex;
//         gap: 20px;
//         transition: transform 0.5s ease;
//         width: 370px;
//         overflow: hidden;
//         position: relative;

//         div {
//             .property-card {
//                 width: 250px;
//                 flex-shrink: 0;
//                 background-color: #9a1515;
//                 position: relative;

//                 img {
//                     width: 100%;
//                     height: 180px;
//                 }

//                 &:nth-child(2) {
//                     // margin-left: -450px;
//                     border: 2px solid green;
//                     background-color: black;
//                 }

//                 &:nth-child(3) {
//                     margin-left: -250px; 
//                     border: 2px solid green;
//                 }

//                 &:nth-child(4) {
//                     margin-left: -250px;
//                     border: 2px solid red;
//                 }
//             }
//         }
//     }
// }

.featured {
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    h1 {
        font-size: 40px;
    }

    .featured-ppt-info {
        font-size: 20px;
        width: 400px;
    }

    .featured-ppt-card {
        display: flex;
        gap: 20px;
        transition: transform 0.5s ease;
        width: 370px;
        overflow: hidden;
        position: relative;

        >div {

            /* Target the direct child <div> elements */
            .property-card {
                width: 250px;
                flex-shrink: 0;
                // background-color: #9a1515;
                position: relative;

                img {
                    width: 100%;
                    height: 180px;
                }
            }

            &:nth-child(2) {
                .property-card {
                    z-index: 1;
                }
            }

            &:nth-child(3) {
                .property-card {
                    margin-left: -250px;
                    z-index: 2;
                }
            }

            &:nth-child(4) {
                .property-card {
                    margin-left: -250px;
                    z-index: 300;
                }
            }
        }
    }
}