.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px 120px;
    position: fixed;
    width: 100%;
    gap: 15vw;
    top: 0;
    z-index: 10000;
    color: white;
    background-color: #26BAFF;
}

.logo a img {
    max-width: 150px;
    width: 100%;
    height: auto;

}

.hamburger {
    display: none;
    font-size: 20px;
    cursor: pointer;
    color: #333;
}

/* Navigation links styling */
.nav-links {
    list-style: none;
    display: flex;
    gap: 3.75vw;
}

.nav-links .sign {
    display: none;
}

.nav-links li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
    // padding: 10px;
    transition: color 0.3s ease;
    color: white;
}

.nav-links li a:hover {
    color: blue;
}

.nav-links {
    color: red;
}

.nav-link {
    color: #26BAFF;
}

.sign {
    display: flex;
    gap: 20px;
    // justify-content: flex-end;
    margin-left: auto;

    .sign-in,
    .sign-up {
        border: none;
        width: 77px;
        height: 35px;
        border-radius: 10px;
        color: white;
        background: none;

        a {
            text-decoration: none;
            font-size: 16px;
            color: white;
        }
    }

    .sign-up {
        background-color: #26BAFF;
        color: white;
    }
}


/* nav bar mdeia query */
@media (max-width: 1245px) {
    .logo a img {
        max-width: 110px;
        width: 100%;
        height: auto;
    }
}

@media (max-width: 900px) {
    .logo a img {
        max-width: 100px;
        width: 100%;
        height: auto;
    }
}


@media (max-width: 768px) {

    .hamburger {
        display: block;
        color: white;
    }

    .navbar {
        justify-content: space-between;
        padding: 15px;
    }

    .nav-links .sign {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: 0;

        .sign-in,
        .sign-up {
            width: 90%;
        }

        .sign-in {
            background-color: white;

            a {
                color: black;
                font-weight: bold;
            }
        }

        .sign-up {
            background-color: #095c82;

            a {
                color: white;
                font-weight: bold;
            }
        }
    }

    .sign {
        display: none;
    }

    .nav-links {
        position: fixed;
        top: 70px;
        left: 0;
        right: 0;
        // background: linear-gradient(to top, #8C2F99, #B86182);
        background-color: #26BAFF;
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        transform: translateY(-120%);
        opacity: 0;
        visibility: hidden;
        pointer-events: none;

        transition: transform 0.35s ease-in-out, opacity 0.25s ease-in-out, visibility 0s linear 0.35s;
        will-change: transform;
        z-index: 1000;
    }

    .nav-links.active {
        transform: translateY(0);
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transition: transform 0.35s ease-in-out, opacity 0.25s ease-in-out;
    }

    .nav-links li {
        padding: 0px 20px;
        border-bottom: 0.5px dotted white;
        text-align: center;
        border-radius: 5px;
    }

    .nav-links li a {
        color: white;
        font-size: 16px;
        font-weight: bolder;
        line-height: 30px;
    }

    .nav-links li a:hover {
        color: #ddd;
    }

    .logo a img {
        max-width: 100px;
        width: 100%;
        height: auto;
    }

    .navbar {
        height: 70px;
    }
}