.reviews {
    padding: 50px;

    @media (max-width: 785px) {
        padding: 30px;

        h1 {
            font-size: 20px;
        }
    }

    @media (max-width: 570px) {
        padding: 15px;

        h1 {
            font-size: 18px;
        }
    }

    .reviews-content {
        display: flex;
        padding-top: 15px;
        justify-content: space-around;
        align-items: center;

        @media (max-width: 1290px) {
            flex-direction: column;
        }

        .review-text {
            font-size: 24px;
            width: 40%;

            @media (max-width: 1290px) {
                width: 100%;
            }

            @media (max-width: 785px) {
                font-size: 17px;
            }

            @media (max-width: 570px) {
                font-size: 15px;
            }

        }

        .testimonial-card {
            position: relative;
            width: 600px;
            height: 150px;
            background-color: #26BAFF;
            border-radius: 20px;
            box-shadow: 5px 5px 10px rgba(211, 211, 211, 0.5);
            padding: 20px 10px;
            display: flex;
            align-items: center;

            @media (max-width: 1290px) {
                margin-top: 50px;
                margin-right: auto;
            }

            @media (max-width: 785px) {
                margin: 0 auto;
                margin-top: 50px;
                width: 80%;
            }

            @media (max-width: 500px) {
                width: 90%;
                height: 120px;
            }

            .profile-image {
                width: 100px;
                height: 100px;
                background-color: #ccc;
                border-radius: 10px;
                margin-right: 20px;
                position: absolute;
                top: -30px;
                left: -20px;
                border-radius: 15px;

                @media (max-width: 500px) {
                    width: 60px;
                    height: 60px;
                    top: -20px;
                    left: -15px;
                }

                img {
                    width: 100%;
                    height: 100%;
                    position: relative;
                    border-radius: 15px;
                }
            }

            .text-content {
                flex: 1;

                .testimonial-text {
                    font-family: 'Roboto', sans-serif;
                    font-size: 16px;
                    color: #fff;
                    line-height: 1.5;
                    margin: 0;
                    margin-left: 95px;
                    font-style: italic;

                    @media (max-width: 500px) {
                        margin-left: 40px;
                    }
                }

                .username {
                    font-family: 'Roboto', sans-serif;
                    font-size: 14px;
                    font-weight: bold;
                    color: #fff;
                    margin-top: 10px;
                    margin-left: 25px;
                }
            }

            .pagination-dots {
                position: absolute;
                bottom: 20px;
                left: 50%;
                transform: translateX(-50%);
                display: flex;
                gap: 5px;

                .dot {
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    background-color: #D3D3D3;
                }

                .dot.active {
                    background-color: #808080;
                }
            }

            .arrow {
                position: absolute;
                top: 62%;
                transform: translateY(-50%);
                width: 40px;
                height: 40px;
                background-color: white;
                border: 1px solid #D3D3D3;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                color: #808080;
                font-size: 20px;
            }

            .left {
                left: -20px;
            }

            .right {
                right: -20px;
            }
        }
    }
}